@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/*SCROLLBAR==========================================================*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}

/*CONTENT==================================================================*/

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}

/*NAVBAR-AND-MENU========================================================*/

.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

/*.navbar .logo a @font-face { 
  font-family: 'Future Z'; src: url('FUTUREZ.TTF'); 
  font-family: 'Furute Z';
}
*/
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #f7901e;
}
.banner{
  background: url("backgrounds/placeholder3.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*ABOUT================================================*/

.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about .subheading{
  font-size: 25px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

/*RESPONSIVE=========================================*/

.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

/*#MY_STUFF=====================================================================*/

.about .movement {
  padding-top: 50px;
}

.about .movement-subheading {
  padding-top: 25px;
}

.about .movement-subheading-small {
  padding-top: 50px;
  font-size: 30px;
}

.about .movement-subheading-smallp {
  padding-top: 15px;
  font-size: 20px;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-studio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-decoration: none;
}

.studio {
  color: #fff;
  font-size: 0px;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 1130px) {
  .centered {
    text-align: center;
  }

  .main {
    font-size: 40;
    font-weight: 500;
  }

  .studio {
    visibility: hidden;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 90%;
}

ul.b {
  list-style-type: disc;
  margin-left: 20px;
}

ul.b li {
  margin-top: 5px;
}

/*FOOTER==============================================================*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #1b1b1b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

@media (max-width: 1230px) { 
  .footer-col{
    padding: 0 60px;
  }
 
}
@media (max-width: 1100px) {
  .footer-col{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .footer-col{
    padding: 0 30px;
  }
}


.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #f7901e;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #f7901e;
  padding-left: 3px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #f7901e;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*#DIVIDERS=============================================================*/

.container-skills {
  width: 50%;
  height: 25px;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-right: 2px;
  padding-bottom: 10px;
  color: white;
  height: 25px;
}

.programmers {width: 16%; background-color: #f7901e;}
.owners {width: 3.6%; background-color: #f7901e;}

/*#PROFILE-CARDS=============================================================*/

.chip {
  margin-top: 5px;
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/*#SCROLL-TO-TOP====================================================================*/

.scrollToTopBtn {
  background-color: #f7901e;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all .5s ease
}
    
.showBtn {
  opacity: 1;
  transform: translateY(0)
}

.hmm {
  text-decoration: none;
}

/*#DEV-LOG=BUTTON====================================================================*/

.dbutton {
  display: inline-block;
  border-radius: 50px;
  background-color: #1b1b1b;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 2px;
}

.dbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.dbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.dbutton:hover span {
  padding-right: 25px;
}

.dbutton:hover span:after {
  opacity: 1;
  right: 0;
}
